body {
	background-color: #F5FFC5;
	margin: 0;
}

#wrapper {
	width: 950px;
	margin: auto;
	border: 1px solid #888888;
	border-radius: 4px;
	font-family: Arial;
	font-size: 14px;
}

#header {
	background-image: url('../images/header_back.jpg');
	height: 80px;
}

#header h1 {
	padding: 0;
	margin-left: 36px;	
	float: left;
}

#header h1 a {
	text-decoration: none;
	font-family: "Comic Sans MS";
	font-style: italic;
	font-size: 36px;
	color: black;
}

#about_link {
	margin-top: 36px;
	margin-right: 48px;
	float: right;
	font-size: 20px;
	text-decoration: none;
}

#body_contents {
	clear: both;
	padding: 16px;
}

#footer {
	padding: 0;
	clear: both;
	text-align: center;
	background-color: #FFFFA2;
}

#footer p {
	padding: 3px;
	margin: 0;
}

#user_menu {
	margin-top: -14px;
	background-image: url('../images/user_menu_grad.png');
	background-repeat: repeat-x;
}

#user_menu ul {
	margin-left: 200px;
	padding: 3px;
	list-style-type: none;
}

#user_menu li {
	display: inline;
}

#user_menu a {
	margin-left: 16px;
	text-decoration: none;
	color: black;
	font-size: 15px;
}

#user_menu a:hover {
	color: red;
}

/* -------------------------------Profile page--------------------------------------- */

#profile_basic {
	padding: 0;
	float: left;
	width:	400px;
}

#profile_basic img {
	float: left;
	height: 180px;
	width: 180px;
}

.bold {
	font-weight: bold;
}

#basic_data {
	float: right;
	width: 200px;
}

#basic_data div {
}

#basic_data a {
	margin-left: 4px;
}

.user_button {
	text-decoration: none;
	padding: 3px;
	color: black;
	background-image: url('../images/user_menu_grad.png');
	background-repeat: repeat-x;
	border: 1px solid #BDC400;
	border-radius: 6px;	
}

h2 {
	clear: both;
}

/* -------------------------------Edit profile--------------------------------------- */

#edit_space img {
	height: 150px;
	width: 150px;
	margin-bottom: 9px;
}

#edit_space input {
	margin-bottom: 16px;
}

#edit_submit, #delete_account a {
	margin-left: 360px;
	margin-top: 30px;
	text-decoration: none;
	padding: 3px;
	color: black;
	background-repeat: repeat-x;
	border: 1px solid #BDC400;
	border-radius: 6px;	
}

#edit_submit {
	background-image: url('../images/user_menu_grad.png');
}

#delete_account p {
	background-color: red;
	color: yellow;
}

#delete_account a {
	margin-top: 36px;
	margin-bottom: 40px;
	background-image: url('../images/delete.png');
}

#status {
	width: 120px;
	background-color: #2F9400;
	color: #DCDCDC;
}

#other {
	float: right
}

#other ul {
	list-style-type: none;
}
/* -------------------------------Search--------------------------------------- */

#search_page form {
	margin-left: 160px;
}

/* -------------------------------Messages--------------------------------------- */

.unread a {
	background-color: yellow;
	color: red
}
