body {
	background-color: #F5FFC5;
	margin: 0;
}

#wrapper {
	background-color: #FFFFFF;
	width: 1000px;
	margin: auto;
	border: 1px solid #888888;
	border-radius: 4px;
	font-family: Arial;
	font-size: 14px;
}

#header h1 {
	margin-left: 24px;	
	float: left;
}

#header h1 a {
	text-decoration: none;
	font-family: "Comic Sans MS";
	font-style: italic;
	font-size: 36px;
}

#header ul {
	margin-top: 36px;
	list-style-type: none;
	float: right;
}

#header ul li {
	margin-right: 24px;
	display: inline;
}

#header ul a {
	font-size: 16px;
}

#body_contents {
	clear: both;
}
