body {
	background-color: #F5FFC5;
	margin: 0;
}

#wrapper {
	width: 950px;
	margin: auto;
	border: 1px solid #888888;
	border-radius: 4px;
	font-family: Arial;
	font-size: 14px;
}

#header {
	background-image: url('../images/header_back.jpg');
	height: 80px;
}

#header h1 {
	margin-left: 36px;	
	float: left;
}

#header h1 a {
	text-decoration: none;
	font-family: "Comic Sans MS";
	font-style: italic;
	font-size: 36px;
	color: black;
}

#about_link {
	margin-top: 36px;
	margin-right: 48px;
	float: right;
	font-size: 20px;
	text-decoration: none;
}

#body_contents {
	clear: both;
	padding: 16px;
}

#footer {
	padding: 0px;
	clear: both;
	margin-bottom: -14px;
	text-align: center;
	background-color: #FFFFA2;
}
