<a href="[% c.uri_for(c.controller.action_for('get_page'), page_id) %]">Back to page</a>
<h2>Edit page</h2>
<form action="[% c.uri_for(c.controller.action_for('save_page'), page.id) %]" method="post" enctype="multipart/form-data">
	<label for="p_about">About:</label> <br />
	<textarea id="p_about" name="p_about"i rows="4" cols="64">[% page.about %]</textarea> <br />
	<input class="user_button" type="submit" value="Save changes" />
</form>
