<p>This application was designed to help people with common interests to meet and share their interests and ideas. It was made by Konstantin Dobrev, a senior student at the Faculty of mathematics and informatics in the Sofia University. Thank you for your interest.</p>
